:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#new-char-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-char-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-char-input::placeholder {
	color: var(--grey);
}

.btn,
#new-char-submit {
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
	outline-style: solid;
}

#new-char-submit:hover {
	opacity: 0.8;
}

#new-char-submit:active {
	opacity: 0.6;
}

#new-roll-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-roll-input::placeholder {
	color: var(--grey);
}

#new-roll-submit {
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-roll-submit:hover {
	opacity: 0.8;
}

#new-roll-submit:active {
	opacity: 0.6;
}


main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.char-list {
	padding: 1rem;
}

.char-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

h2{
	margin-top: 1em;
}

#chars{
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: 1rem;
}

#copy{
	background: #111827;
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: 1rem;
	outline-style: solid;
}

ol li{
	list-style: none;
}
 li{
	display: flex;
	margin-bottom: 1.5em;
 }

 .btn{
	margin-left: 1em;
 }
