:root {
--white: #fff;
--light-grey: #f5f6f7;
--dark-grey: #0a0a23;
--yellow: #f1be32;
--golden-yellow: #feac32;
}

html {
    height: 1000000%;
    width: 100%;
    margin:0px;
}

body {
    color: white;
    background-color: rgb(40, 44, 53);
    margin:0 auto;
    font-size: large;
    display: flex;
	flex-direction: column;
	min-height: 100%;
    height: 100%;
    width: 100%;
}

header{
    margin:0 auto;
    max-width: fit-content;
    
}

main {
    margin:0 auto;
    height: 100%;
    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
    align-self: center;
}

form {
    display: flex;
    height: fit-content;
    font-size: xx-large;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
}

label {
    height: fit-content;
    width: 30%;
}

.input {
    width: 100%;
    height: 30%;
    background-color: black;
    color: white;
    font-size: larger;
    border-radius: 1rem;
}

.damage-input {
    height: 8%;
    background-color: black;
    color: white;
    font-size: small;
    border-radius: 1 rem;
    font-size: larger;
    margin: auto;
    width: 15vh;
}


.status-container {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: auto;
    height: 10%;
    gap: 3%;
    max-height: 10%;
    width: fit-content;
}

.btn, .status {
    height: 20%;
    width: fit-content;
    font-size: x-large;
}

.status, .status-btn {
    margin-top: auto;
    margin-bottom: auto;
    font-size: medium;
    height: 5%;

}


.status-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 3%;
    font-size: small;
    overflow-y:scroll;
    width: 40%;
}

.status-card {
    background-color: navy;
    border-color: white;
    border-style: solid;
    width: fit-content;
    height: fit-content;
    margin-top: 1%;
}

.status-card:before {
    content: " x";
    margin-left: 4px;
    margin-right: 4px;
}

.status-card::after {
    content: " ";
    margin-right: 4px;
}

#add-char{
    margin-top: auto;
    margin-bottom: auto;
}

#copy-container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   row-gap: 10px;
   margin-top: 2%;
   width: auto;
   max-width: 80%;
}

#copy-list {
    background-color:black;
    border-style: solid;
    border-color: white;
    padding-right: 2%;
}

#char-list {
    margin-top: 2%;
    width: 100%;
    height: auto;
    
}

.char{
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 5vh;
    border-style: solid;
    border-color: white;
    background-color: black;
    font-size: x-large;
    margin-top: 2%;
    width: 100%;
    padding: 1%;
    overflow-x: scroll;
}

.char > button {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.char > p{
    margin-top: auto;
    margin-bottom: auto;
}